@import url('https://fonts.googleapis.com/css2?family=Abel&family=Candal&display=swap');

body{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(40deg, rgb(104, 51, 51), pink);

}

.fundo{
    font-size: 14px;
    font-family: 'helvetica', sans-serif;
    
}
.main{
    color:white;
    padding: 12px;
    border-radius: 5%;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#resultado{
    width: 200px;
    height: 30px;
    margin: 5px;
    background-color: white;
    font-size: 25px;
    text-align: right;
    color: black
}
.num{
    width: 50px;
    height: 50px;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    border-radius: 20%;
    cursor: pointer;
    background-color: black;
    color:cornsilk
}


.num:hover{
    background-color: rgb(92, 88, 88);
}

